{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 28, "knowledge_revision": 64, "git_revision": "517e91852e2fead9442271b57d6d4e541307b784", "hash": "5743b6113f09d5a9f7a8f1ad3d13e8d8", "format-version": 4, "code-base-name": "default", "filename": "bookswap_backend_workspace/bookswap_backend/requirements.txt", "revision_history": [{"64": "517e91852e2fead9442271b57d6d4e541307b784"}]}